<div class="">
    <header>
        <nav class=" navbar navbar-expand-lg navbar-light fixed-top" data-offset="50">
            <div class="container navegador-menu">
                <a class="navbar-brand" href="#inicio">
                    <img src="assets/img/Grupo 1911.png " class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    					<span class="navbar-toggler-icon"></span>
    				</button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#inicio">
                                <p class="menu"> Inicio </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" href="servicios">
                                <p class="menu2">Servicios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contactanos">
                                <p class="menu3">Contactanos</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" id="inicio">
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bb">
                            <h1 class=" texto">CEMIRTS</h1>
                            <p class="sub">empresa líder a nivel nacional a nivel de telecomunicaciones y sistemas desarrollar nuevas tecnologías y mejoras en la innovación tecnológica. Además de mejorar en los servicios que ofrecen para poder competir e n el mercado
                                internacional y asi llegar a ser mejores
                            </p>
                            <p class="sub">empresa líder a nivel nacional a nivel de telecomunicaciones y sistemas desarrollar nuevas tecnologías y mejoras en la innovación tecnológica. Además de mejorar en los servicios que ofrecen para poder competir e n el mercado
                                internacional y asi llegar a ser mejores
                            </p>
                            <button type="button" class="btn btn-outline-light btn-lg boton">Ver mas.</button>
                        </div>
                    </div>

                    <div class="col-md-6 text-center imagen">
                        <img src="assets/img/imagen1.png " class="img-fluid" media="(max-width:500px)">
                    </div>
                </div>
            </div>
            <div class="container margen-sup-1">
                <div class="row">

                    <div class="imagen2 col-md-6 text-center ">
                        <img src="assets/img/imagen2.png " alt=" ">
                    </div>

                    <div class="texto1 col-md-6 ">
                        <h1>SERVICIOS </h1>
                        <p class="sub2 ">El Corporativo de Telecomunicaciones Cemirts está enfocado en servicios informáticos rede de telecomunicaciones, mantenimiento preventivo y correctivo a equipos de cómputo, porte técnico, papelería y artículos de limpieza.
                        </p>
                        <p class="sub3 ">empresa líder a nivel nacional a nivel de telecomunicaciones y sistemas desarrollar nuevas tecnologías y mejoras en la innovación tecnológica. Además de mejorar en los servicios que ofrecen para poder competir e n el mercado internacional
                            y asi llegar a ser mejores</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="debajo ">
    <div class="container-fluid ">
        <div class="fondo2 ">
            <div class="container ">
                <div class="row ">
                    <div class=" card1 ">
                        <div class="fondo3 ">
                            <img src="assets/img/imagen3.png " alt="Card image cap " class="voltear-img ">
                        </div>
                        <h1 class="letra ">Servicios</h1>
                        <p class="parrafo ">El Corporativo de Telecomunicaciones Cemirts está enfocado en servicios informáticos rede de telecomunicaciones,</p>
                    </div>
                    <div class=" card2 ">
                        <div class="fondo4 ">
                            <img class src="assets/img/imagen4.png " alt="Card image cap " class="voltear-img ">
                        </div>
                        <h1 class="letra ">Servicios</h1>
                        <p class="parrafo ">El Corporativo de Telecomunicaciones Cemirts está enfocado en servicios informáticos rede de telecomunicaciones,</p>
                    </div>
                    <div class=" card3 ">
                        <div class="fondo5 ">

                            <img class src="assets/img/imagen5.png " alt="Card image cap " class="voltear-img ">

                        </div>
                        <h1 class="letra ">Servicios</h1>
                        <p class="parrafo ">El Corporativo de Telecomunicaciones Cemirts está enfocado en servicios informáticos rede de telecomunicaciones,</p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 text-center ">
                    <h1 class="titulo3 ">
                        Contactanos
                    </h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6  text-center ">
                    <form action="enviar.php " method="post ">
                        <div class="form-group ">
                            <div class="uno text-center  ">
                                <input class="form-control form-control-lg " type="text " name="nombre " placeholder="Nombre " data-aos="fade-up " data-aos-duration="1000 " data-aos-delay="200 " required>
                            </div>
                            <div class="dos text-center  ">
                                <input class="form-control form-control-lg " type="email " name="correo " placeholder="E-mail " data-aos="fade-up " data-aos-duration="1000 " data-aos-delay="400 " required>
                            </div>
                            <div class="tres text-center  ">
                                <textarea class="form-control " name="mensaje " placeholder="Mensaje " rows="4 " data-aos="fade-up " data-aos-duration="1000 " data-aos-delay="600 " required></textarea>
                            </div>
                            <div class="boton2 text-center ">
                                <button type="submit " value="Enviar " id="boton " class="btn btn-lg btn-block " data-aos="fade-up " data-aos-duration="1000 " data-aos-delay="800 ">
                <p class="texbot ">Enviar</p> 
            </button>
                            </div>
                        </div>
                    </form>
                </div>
                <footer class="pie ">
                    <div class="container-fluid ">
                        <div class="col-md-12 text-center ">
                            <img src="assets/img/Grupo 1910.png " alt=" ">
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </div>
</div>